.webcam{
    position: relative;
    width: 640px;
    height: 480px;
}

.video {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

.canvas_style {
    width: 640px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none; /* Prevents canvas from blocking video interactions */
}